

.grid-container {
  
  display: grid;
 

  grid-template-columns: minmax(300px, 1fr) ;
  grid-template-rows: repeat(5, 1fr);

  grid-template-areas: 
  'top-left'
  'top-center'
  'bottom-left'
  'bottom-center'
  'top-right'
  
  ;
}