

.grid-container {
  
  display: grid;
 

  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 1fr 1fr;

  grid-template-areas: 
  'top-left top-left'
  'top-center bottom-left'
  'top-right top-right'
  'bottom-center bottom-center'
  ;
}